Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, video, audio, memory, controller, binary_lib

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'stc/**/binary_lib.rs'

Resized bg
  si-web-react/src/images/background/bg_invaders_1.png
Labels: none

Buttons working for mobile devices
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
  si-web-static/index.html
  src/lib.rs
Labels: none

wip
  si-web-static/index.css
  si-web-static/index.html
  src/lib.rs
Labels: none

wip
  README.md
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/githubcomponents/GitHubProjectPanel.jsx
  si-web-react/src/components/githubcomponents/GitHubProjectPanel.scss
  si-web-react/src/components/subcomponents/ActionButtonStyle.jsx
  si-web-react/src/components/subcomponents/ActionButtonStyle.scss
  si-web-react/src/components/subcomponents/InputFile.jsx
  si-web-react/src/components/subcomponents/SelectorButton.jsx
  si-web-react/src/components/subcomponents/StateButtonStyle.jsx
  si-web-react/src/components/subcomponents/StateButtonStyle.scss
Labels: repo

wip
  si-web-react/src/components/SiEmulator.jsx
  src/lib.rs
Labels: none

New version
  si-web-react/src/components/subcomponents/ActionButtonStyle.scss
Labels: none

Corrected bug
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/src/components/subcomponents/SelectorButton.jsx
  si-web-react/src/components/subcomponents/SelectorButton.scss
Labels: none

wip
  si-web-react/src/components/subcomponents/SelectorButton.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/subcomponents/SelectorButton.scss
Labels: none

wip
  si-web-react/src/components/subcomponents/ActionButtonStyle.scss
  si-web-react/src/components/subcomponents/StateButtonStyle.scss
Labels: none

New version
  si-web-react/src/components/subcomponents/SelectorButton.scss
  si-web-react/src/constants/screen-constants.js
Labels: none

New version
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

Deleted useless file
  Dockerfile
Labels: repo

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/subcomponents/ActionButtonStyle.scss
  si-web-react/src/components/subcomponents/StateButtonStyle.scss
  src/lib.rs
Labels: none

wip website
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/src/components/githubcomponents/GitHubProjectPanel.scss
  si-web-react/src/components/subcomponents/SelectorButton.jsx
  si-web-react/src/components/subcomponents/SelectorButton.scss
  si-web-react/src/index.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/subcomponents/ActionButtonStyle.scss
  si-web-react/src/components/subcomponents/StateButtonStyle.scss
Labels: none

wip
  README.md
  si-web-react/package-lock.json
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/yarn.lock
Labels: repo

Updated
  si-web-react/yarn.lock
Labels: none

Updated code to have no warnings
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/cpu.rs
Labels: none

wip
  src/binary_lib.rs
  src/main.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
Labels: main

wip
  .dockerignore
  si-web-react/package-lock.json
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/yarn.lock
  src/lib.rs
Labels: repo

wip
  src/lib.rs
Labels: none

Added new workflow
  .github/workflows/wasm-npm-publish.yml
  .github/workflows/wasm-publish.yml
Labels: none

corrected trigger
  .github/workflows/wasm-npm-publish.yml
Labels: none

wip
  .github/workflows/wasm-npm-publish.yml
Labels: none

wip
  .clippy.toml
  src/lib.rs
Labels: repo

wip
  .github/workflows/wasm-npm-publish.yml
Labels: none

wip
  .github/workflows/wasm-npm-publish.yml
Labels: none

test
  .github/workflows/wasm-npm-publish.yml
Labels: none

test
  .github/workflows/wasm-npm-publish.yml
Labels: none

test
  .github/workflows/wasm-npm-publish.yml
Labels: none

New version of the project
  Cargo.toml
  README.md
Labels: repo

wip
  README.md
Labels: repo

wip
  README.md
Labels: repo

New version
  Cargo.toml
Labels: repo
