Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, video, audio, memory, controller, binary_lib

wip
  Cargo.toml
Labels: repo

wip
  .editorconfig
  Cargo.toml
  README.md
  src/main.rs
  src/my_webgl2.rs
  src/si_arcade.rs
  web/index.html
Labels: repo, main

Updated workflows
  .github/workflows/rust.yml
  src/si_arcade/cpu.rs
Labels: none

Added wasm example
  Cargo.toml
  README.md
  src/lib.rs
  src/si_arcade/cpu.rs
Labels: repo

wip
  Cargo.toml
  README.md
  src/lib.rs
  src/my_sdl2.rs
  src/my_sdl2/sdl2_audio.rs
  src/my_sdl2/sdl2_inputs.rs
  src/my_sdl2/sdl2_video.rs
  web/index.html
Labels: repo

Added webgl demo
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/si_arcade/spu.rs
  web/index.html
Labels: repo, main, audio

Working demo with corrected rust space invaders module crash
  Cargo.toml
  src/lib.rs
  src/si_arcade.rs
  src/si_arcade/mmu.rs
  web/index.css
  web/index.html
Labels: repo, memory

Updated
  .github/workflows/rust-publish.yaml
  .github/workflows/rust.yml
  .github/workflows/wasm-build-publish.yml
  .github/workflows/wasm.yml
  Makefile
  README.md
  web/index.html
Labels: repo

wip
  src/si_arcade/mmu.rs
Labels: memory

wip
  .github/workflows/rust.yml
  .github/workflows/rustfmt.yml
  .github/workflows/wasm-build-publish.yml
  .github/workflows/wasm.yml
Labels: none

wip
  src/main.rs
Labels: main

wip
  .github/workflows/rustfmt.yml
  .github/workflows/wasm-build-publish.yml
  Cargo.toml
  src/lib.rs
  src/my_webgl2.rs
  src/si_arcade.rs
  src/si_arcade/mmu.rs
Labels: repo, memory

wip
  src/lib.rs
  src/main.rs
  src/my_webgl2.rs
  src/si_arcade.rs
Labels: main

Added request animation handleer
  Cargo.toml
  src/lib.rs
  src/my_webgl2.rs
  src/si_arcade.rs
Labels: repo

Added pc print to console for debug
  Cargo.toml
  src/lib.rs
  src/si_arcade.rs
  src/si_arcade/cpu.rs
Labels: repo

updated readme
  README.md
Labels: repo

Corrected double start
  src/lib.rs
  web/index.html
Labels: none

wip
  src/lib.rs
Labels: none

added debug comparison
  src/main.rs
Labels: main

Corrected core loop
  src/si_arcade.rs
Labels: none

Corrected texture size
  src/si_arcade.rs
Labels: none

Corrected triangles count
  src/my_webgl2.rs
Labels: none

wip
  src/my_webgl2.rs
Labels: none

Improved opengl code
  src/my_webgl2.rs
  src/si_arcade.rs
Labels: none

wip texture
  src/my_webgl2.rs
  src/si_arcade.rs
Labels: none

wip
  Cargo.toml
  src/my_webgl2.rs
Labels: repo

Screen working !!!
  src/my_webgl2.rs
Labels: none

wip
  src/my_webgl2.rs
Labels: none

wip
  web/index.css
Labels: none

wip
  src/my_webgl2.rs
Labels: none

Corrected bugs
  web/index.css
Labels: none

wip
  src/lib.rs
  src/main.rs
  src/my_webapi.rs
  src/si_arcade.rs
  web/index.css
Labels: main

wip
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
Labels: none

Added minimum audio code
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
Labels: none

wip audio
  Cargo.toml
  src/my_webapi/my_webaudio.rs
Labels: repo

Updated readme
  README.md
Labels: repo

wip
  Cargo.toml
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
  src/my_webapi/my_webgl2.rs
  src/my_webapi/my_webinputs.rs
  web/index.css
Labels: repo

wip
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
Labels: none

wip
  Cargo.toml
  src/my_webapi/my_webaudio.rs
Labels: repo

Added working audio
  Cargo.toml
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
Labels: repo

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'stc/**/binary_lib.rs'
