Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, cpu, video, audio, memory, controller, binary_lib, sdl2, cargo

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

cpu:
  - 'src/**/cpu.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'src/**/binary_lib.rs'

sdl2:
  - 'src/**/my_sdl2.*'
  - 'src/**/my_sdl2/*.rs'

cargo:
  - 'Cargo.toml'

wip
  .github/workflows/eslint.yml
Labels: none

wip
  si-web-react/src/test/App.test.js
  si-web-react/yarn.lock
Labels: none

Deactivated node test
  .github/workflows/node-wasm.yml
Labels: none

wip
  .github/workflows/rust.yml
  si-web-react/package.json
Labels: none

Updated package install in react frontend
  .github/workflows/node-wasm-publish.yml
  .github/workflows/node-wasm.yml
  build.bat
  build.sh
  si-web-react/package-lock.json
  si-web-react/package.json
  si-web-react/src/App.js
  si-web-react/yarn.lock
Labels: repo

wip
  build.bat
  build.sh
Labels: repo

wip
  README.md
  build.bat
  si-web-react/package.json
Labels: repo

Changed static web to debug version
  si-web-react/package-lock.json
  si-web-react/yarn.lock
  si-web-static/index.html
  src/lib.rs
  src/my_webapi/my_webgl2.rs
Labels: none

Added transparency
  si-web-react/src/App.scss
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  README.md
  si-web-react/public/index.html
Labels: repo

wip
  si-web-react/src/App.js
  si-web-react/src/App.scss
Labels: none

Testin
  src/my_webapi/my_webgl2.rs
Labels: none

Added overlay image
  game_overlays/space_invaders_overlay.png
Labels: none

Adding overlay texture
  src/my_webapi.rs
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
  src/si_arcade/ppu.rs
Labels: video

wip
  si-web-static/index.css
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  game_overlays/space_invaders_overlay.png
  src/my_webapi.rs
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  Cargo.toml
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
  src/si_arcade/ppu.rs
Labels: repo, video, cargo

Corrected overlay image issue
  src/si_arcade/ppu.rs
Labels: video

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  game_overlays/space_invaders_overlay.png
  src/my_webapi/my_webgl2.rs
Labels: none

New version with colors
  src/lib.rs
Labels: none

Added documention
  README.md
Labels: repo

Updated to do
  README.md
Labels: repo

wip
  README.md
  game_overlays/space_invaders_overlay_SV.png
  game_overlays/space_invaders_overlay_TV.png
  src/my_webapi/my_webgl2.rs
  src/si_arcade/ppu.rs
Labels: repo, video

wip
  .gitignore
  si-web-react/src/images/invaders.png
Labels: repo

Corrected Cargo.toml
  Cargo.toml
Labels: repo, cargo

wip
  Cargo.toml
  si-web-static/index.html
Labels: repo, cargo

Added new overlays
  Cargo.toml
  game_overlays/space_invaders_overlay_1_SV.png
  game_overlays/space_invaders_overlay_2_TV.png
  game_overlays/space_invaders_overlay_3_CV.png
Labels: repo, cargo

wip
  Cargo.toml
  src/lib.rs
  src/si_arcade.rs
  src/si_arcade/ppu.rs
Labels: repo, video, cargo

wip
  si-web-static/index.html
  src/lib.rs
  src/main.rs
  src/si_arcade.rs
  src/si_arcade/ppu.rs
Labels: main, video

wip
  si-web-react/src/App.js
  src/si_arcade.rs
Labels: none

New version
  README.md
  si-web-react/src/App.js
  si-web-react/src/App.scss
  src/lib.rs
Labels: repo

Added new images
  README.md
  si-web-react/src/App.js
  si-web-react/src/App.scss
Labels: repo

Correcting game loop framerate
  Cargo.toml
  src/lib.rs
Labels: repo, cargo

wip
  src/lib.rs
Labels: none
