Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, cpu, video, audio, memory, controller, binary_lib, sdl2, cargo

wip
  src/lib.rs
Labels: none

wip
  src/lib.rs
Labels: none

Testing
  src/lib.rs
Labels: none

wip
  si-web-react/package-lock.json
  si-web-react/yarn.lock
  src/lib.rs
Labels: none

wip
  src/lib.rs
Labels: none

wip
  src/lib.rs
Labels: none

Added new image font for demo website
  si-web-react/src/images/background/invaders.png
  si-web-react/src/images/demo/si-demo-1-sv.png
  si-web-react/src/images/demo/si-demo-2-tv.png
  si-web-react/src/images/demo/si-demo-3-cv.png
Labels: none

Reformatting website
  si-web-react/src/App.js
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGameSetUp.jsx
Labels: none

wip
  src/lib.rs
Labels: none

Added si parameters switches
  si-web-static/index.html
Labels: none

wip
  si-web-react/src/App.js
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGameSetUp.jsx
  si-web-react/src/components/SpaceInvadersPanel.jsx
Labels: none

wip
  si-web-react/src/App.js
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

wip
  si-web-react/.eslintrc.js
  si-web-react/package-lock.json
  si-web-react/package.json
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/yarn.lock
Labels: none

wip
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
Labels: none

wip
  si-web-react/package-lock.json
  si-web-react/yarn.lock
  si-web-static/index.html
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/images/background/bg_black.png
  si-web-react/src/images/background/bg_invaders.png
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

New version
  README.md
  si-web-react/package-lock.json
  src/my_webapi/my_webaudio.rs
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
  src/si_arcade/cpu.rs
  src/si_arcade/mmu.rs
Labels: repo, cpu, memory

Deactivated debug mode
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  src/lib.rs
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  src/lib.rs
Labels: none

eslint correction
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

Activated debug
  src/lib.rs
Labels: none

wip
  game_overlays/space_invaders_overlay_2_TV.png
  si-web-static/index.css
  si-web-static/index.html
  src/my_webapi/my_webgl2.rs
Labels: none

Added new background
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/images/background/bg_invaders_1.png
  si-web-react/src/images/background/bg_invaders_2.png
Labels: none

wip buttons
  si-web-react/src/components/SiEmulator.jsx
  src/lib.rs
  src/my_webapi/my_webgl2.rs
Labels: none

Temporary version
  src/lib.rs
Labels: none

wip
  src/lib.rs
  src/si_arcade/inputs_outputs.rs
Labels: none

wip
  README.md
  si-web-react/src/App.js
  si-web-react/src/App.scss
  si-web-react/src/components/GitHubProjectPanel.jsx
  si-web-react/src/components/GitHubProjectPanel.scss
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/src/images/logo/github.svg
  si-web-react/src/index.scss
  si-web-react/src/settings/github-constants.js
Labels: repo

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

cpu:
  - 'src/**/cpu.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'src/**/binary_lib.rs'

sdl2:
  - 'src/**/my_sdl2.*'
  - 'src/**/my_sdl2/*.rs'

cargo:
  - 'Cargo.toml'
