Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, cpu, video, audio, memory, controller, binary_lib, sdl2, cargo

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

cpu:
  - 'src/**/cpu.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'src/**/binary_lib.rs'

sdl2:
  - 'src/**/my_sdl2.*'
  - 'src/**/my_sdl2/*.rs'

cargo:
  - 'Cargo.toml'

wip
  si-web-static/index.css
  si-web-static/index.html
  src/lib.rs
Labels: none

wip
  si-web-static/index.css
  si-web-static/index.html
Labels: none

wip
  si-web-static/index.css
Labels: none

Added texture rotation
  Cargo.toml
  src/my_webapi/my_webgl2.rs
Labels: repo, cargo

Corrected screen flip
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  README.md
  game_audios/player_shoot.wav
  si-web-react/public/favicon.ico
  si-web-react/public/logo192.png
  si-web-react/public/logo512.png
  si-web-react/src/App.js
  si-web-react/src/App.scss
  si-web-react/src/components/SpaceInvadersPanel.jsx
  si-web-react/src/index.scss
  si-web-static/index.css
  src/my_webapi/my_webgl2.rs
  src/si_arcade/spu.rs
Labels: repo, audio

wip
  si-web-react/src/App.js
  si-web-react/src/App.scss
  si-web-react/src/components/SpaceInvadersPanel.jsx
  si-web-react/src/index.scss
Labels: none

New website version
  si-web-react/public/manifest.json
  si-web-react/src/App.js
  si-web-react/src/App.scss
Labels: none

wip
  .github/workflows/eslint.yml
  .github/workflows/node-wasm.yml
Labels: none

wip
  src/lib.rs
Labels: none

Updated code
  si-web-react/package-lock.json
  si-web-react/yarn.lock
Labels: none

wip
  .github/workflows/eslint.yml
  src/si_arcade.rs
Labels: none

wip
  .github/workflows/eslint.yml
  .github/workflows/node-wasm.yml
Labels: none

wip
  .github/workflows/dependency-review.yml
  .github/workflows/eslint.yml
  .github/workflows/node-wasm.yml
Labels: none

wip
  .github/workflows/node-wasm.yml
  src/my_webapi/my_webgl2.rs
Labels: none

wip
  .github/workflows/node-wasm.yml
Labels: none

wip
  .github/workflows/node.yml
  .github/workflows/wasm-static-build-publish.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  si-web-react/package.json
Labels: none

wip
  si-web-react/package.json
Labels: none

wip
  .dockerignore
  .github/workflows/dependency-review.yml
  .github/workflows/docker-image.yml
  .github/workflows/eslint.yml
  .github/workflows/node.yml
  .github/workflows/wasm-static-build-publish.yml
  Dockerfile
  README.md
  si-web-react/package-lock.json
  si-web-react/public/manifest.json
  si-web-react/src/App.js
  si-web-react/src/App.scss
  si-web-react/src/components/SpaceInvadersPanel.jsx
  si-web-react/src/index.scss
  si-web-react/yarn.lock
  src/lib.rs
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
Labels: repo

Test node.yml workflow
  .github/workflows/node.yml
  README.md
  si-web-react/.gitignore
Labels: repo

Test node.yml workflow
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

wip
  .github/workflows/node.yml
Labels: none

Added node-wasm build
  .github/workflows/node-wasm.yml
Labels: none

wip
  .github/workflows/eslint.yml
  .github/workflows/node-wasm.yml
  si-web-react/src/components/InputFile.jsx
Labels: none

wip
  .github/workflows/rust.yml
  .github/workflows/wasm.yml
  si-web-react/src/components/InputFile.jsx
Labels: none

wip
  .github/workflows/eslint.yml
  .github/workflows/node-wasm-publish.yml
  si-web-react/src/test/App.test.js
Labels: none

wip
  .github/workflows/eslint.yml
  .github/workflows/rust.yml
  README.md
Labels: repo

wip
  si-web-react/.eslintrc.js
  si-web-react/src/test/App.test.js
Labels: none
