Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, cpu, video, audio, memory, controller, binary_lib, cargo

wip
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SelectorButton.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SelectorButton.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/src/constants/screen-constants.js
Labels: none

wip
  si-web-react/src/components/SelectorButton.jsx
Labels: none

wip
  si-web-react/src/components/SelectorButton.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
Labels: none

Added toast
  si-web-react/package-lock.json
  si-web-react/package.json
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/yarn.lock
Labels: none

Added toast
  si-web-react/src/components/InputFile.jsx
  si-web-react/src/components/SelectorButton.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

Updated website
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/src/images/demo/si-demo-1-sv.png
  si-web-react/src/images/demo/si-demo-2-tv.png
  si-web-react/src/images/demo/si-demo-3-cv.png
  src/lib.rs
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
Labels: none

wip
  README.md
  si-web-react/src/components/SiEmulator.jsx
  src/lib.rs
Labels: repo

wip
  README.md
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: repo

wip
  README.md
Labels: repo

wip
  si-web-react/src/images/demo/si-demo-1-sv.png
  si-web-react/src/images/demo/si-demo-2-tv.png
  si-web-react/src/images/demo/si-demo-3-cv.png
Labels: none

New font
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/images/background/bg_invaders_1.png
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
  si-web-react/src/constants/screen-constants.js
  si-web-react/src/images/game/si-game-1-sv.png
  si-web-react/src/images/game/si-game-2-tv.png
  si-web-react/src/images/game/si-game-3-cv.png
Labels: none

wip
  README.md
  si-web-react/src/components/SiGamePanel.jsx
Labels: repo

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/images/background/bg_invaders_1.png
Labels: none

Corrected crash
  si-web-react/src/components/SelectorButton.jsx
  si-web-react/src/components/SiEmulator.jsx
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiGamePanel.jsx
  si-web-react/src/components/SiGamePanel.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.scss
Labels: none

wip
  si-web-react/src/components/SiEmulator.scss
Labels: none

New version
  si-web-react/src/components/SiEmulator.scss
Labels: none

New version :)
  Cargo.toml
  README.md
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
  src/lib.rs
Labels: repo, cargo

wip
  README.md
Labels: repo

Enabled debug
  src/lib.rs
Labels: none

Enabled debug
  si-web-react/src/components/SiEmulator.jsx
  si-web-react/src/components/SiGamePanel.jsx
Labels: none

wip
  src/my_webapi/my_webgl2.rs
Labels: none

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

cpu:
  - 'src/**/cpu.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'stc/**/binary_lib.rs'

cargo:
  - 'Cargo.toml'
