Repository Im-Rises/space-invaders-arcade-emulator, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, main, cpu, video, audio, memory, controller, binary_lib, sdl2, cargo

New read function
  Cargo.toml
  README.md
  src/my_webapi/my_webaudio.rs
  web/index.css
Labels: repo, cargo

Added input fetch
  Cargo.toml
  src/lib.rs
  src/my_webapi/my_webinputs.rs
  web/index.html
Labels: repo, cargo

wip
  src/lib.rs
  src/my_webapi.rs
  src/my_webapi/my_webinputs.rs
  src/si_arcade.rs
  src/si_arcade/inputs_outputs.rs
  web/index.html
Labels: none

New inputs fetch
  src/lib.rs
  src/my_webapi.rs
  src/my_webapi/my_webinputs.rs
  src/si_arcade.rs
  web/index.html
Labels: none

wip
  src/lib.rs
  src/my_webapi.rs
  src/my_webapi/my_webinputs.rs
  src/si_arcade.rs
Labels: none

Inputs working
  src/lib.rs
Labels: none

Updated inputs
  README.md
  src/lib.rs
  src/my_webapi.rs
  src/my_webapi/my_webinputs.rs
  src/si_arcade.rs
  src/si_arcade/inputs_outputs.rs
Labels: repo

wip
  README.md
  src/lib.rs
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/inputs_outputs.rs
Labels: repo

Reformating code
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/spu.rs
Labels: audio

wip
  Cargo.toml
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/spu.rs
Labels: repo, audio, cargo

Added correction from stack overflow
  src/my_webapi/my_webaudio.rs
Labels: none

wip
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
Labels: none

Playing sound
  src/si_arcade.rs
Labels: none

wip
  README.md
Labels: repo

Separated core spu from api
  README.md
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
  src/si_arcade/spu.rs
Labels: repo, audio

Refactored spu
  src/my_webapi.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/spu.rs
Labels: audio

wip
  Cargo.toml
  README.md
  src/lib.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/mmu.rs
  web/index.html
Labels: repo, memory, cargo

Updated audio api
  README.md
  src/lib.rs
  src/main.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
Labels: repo, main

wip
  src/my_webapi/my_webaudio.rs
Labels: none

wip
  README.md
  src/my_webapi/my_webaudio.rs
Labels: repo

wi
  src/lib.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/cpu.rs
Labels: cpu

wip
  Cargo.toml
  src/lib.rs
  src/my_webapi.rs
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
  web/index.html
Labels: repo, cargo

Added template code
  src/lib.rs
  web/index.html
Labels: none

First version
  src/lib.rs
  web/index.css
  web/index.html
Labels: none

Adding new frontend react app
  .github/workflows/wasm-react-build-publish.yml
  .github/workflows/wasm-static-build-publish.yml
  .gitignore
  Cargo.toml
  README.md
  si-web-static/index.css
  si-web-static/index.html
  src/lib.rs
Labels: repo, cargo

Corrected static web bugs
  .github/workflows/wasm-static-build-publish.yml
  si-web-static/index.css
Labels: none

Updated sounds
  .gitignore
  Makefile
  README.md
  game_audios/shoot_v1.wav
  src/my_webapi/my_webaudio.rs
  src/si_arcade/spu.rs
Labels: repo, audio

Added react ci cd
  .github/workflows/eslint.yml
  .github/workflows/node-wasm.yml
  .github/workflows/wasm-react-build-publish.yml
  .github/workflows/wasm.yml
  README.md
Labels: repo

Updated sounds
  .github/workflows/wasm-react-build-publish.yml
  .github/workflows/wasm.yml
  README.md
  game_audios/ufo_loop.wav
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/spu.rs
Labels: repo, audio

Set up react project
  README.md
Labels: repo

Added react web code set up
  si-web-react-v2/.editorconfig
  si-web-react-v2/.eslintignore
  si-web-react-v2/.eslintrc.js
  si-web-react-v2/.gitignore
  si-web-react-v2/README.md
  si-web-react-v2/package-lock.json
  si-web-react-v2/package.json
  si-web-react-v2/public/favicon.ico
  si-web-react-v2/public/index.html
  si-web-react-v2/public/logo192.png
  si-web-react-v2/public/logo512.png
  si-web-react-v2/public/manifest.json
  si-web-react-v2/public/robots.txt
  si-web-react-v2/src/App.js
  si-web-react-v2/src/App.scss
  si-web-react-v2/src/App.test.js
  si-web-react-v2/src/index.js
  si-web-react-v2/src/index.scss
  si-web-react-v2/src/reportWebVitals.js
  si-web-react-v2/src/setupTests.js
  si-web-react-v2/yarn.lock
Labels: none

Rename folder
  si-web-react/.editorconfig
  si-web-react/.eslintignore
  si-web-react/.eslintrc.js
  si-web-react/.gitignore
  si-web-react/README.md
  si-web-react/package-lock.json
  si-web-react/package.json
  si-web-react/public/favicon.ico
  si-web-react/public/index.html
  si-web-react/public/logo192.png
  si-web-react/public/logo512.png
  si-web-react/public/manifest.json
  si-web-react/public/robots.txt
  si-web-react/src/App.js
  si-web-react/src/App.scss
  si-web-react/src/App.test.js
  si-web-react/src/index.js
  si-web-react/src/index.scss
  si-web-react/src/reportWebVitals.js
  si-web-react/src/setupTests.js
  si-web-react/yarn.lock
Labels: none

Updated workflows
  .github/workflows/eslint.yml
  .github/workflows/node-wasm.yml
  .github/workflows/wasm-react-build-publish.yml
  .github/workflows/wasm.yml
Labels: none

wip
  README.md
  game_audios/9.wav
  si-web-react/package-lock.json
  si-web-react/package.json
  si-web-react/public/index.html
  si-web-react/src/App.js
  si-web-react/src/components/InputFile.jsx
  si-web-react/src/index.js
  si-web-react/src/test/App.test.js
  si-web-react/src/web-vitals/reportWebVitals.js
  si-web-react/yarn.lock
  src/si_arcade/spu.rs
Labels: repo, audio

Code crashing
  src/lib.rs
  src/my_webapi/my_webaudio.rs
  src/si_arcade.rs
  src/si_arcade/mmu.rs
  src/si_arcade/spu.rs
Labels: audio, memory

Added last sound completely
  README.md
  game_audios/extra_ship.wav
  src/si_arcade/spu.rs
Labels: repo, audio

wip
  si-web-react/.eslintignore
  si-web-react/package-lock.json
  si-web-react/src/App.js
  si-web-react/src/components/InputFile.jsx
  si-web-react/src/setupTests.js
  si-web-react/src/test/App.test.js
  si-web-react/yarn.lock
Labels: none

wip
  .github/workflows/wasm-react-build-publish.yml
  .github/workflows/wasm.yml
  README.md
Labels: repo

Working website
  si-web-react/src/App.js
  si-web-react/src/components/InputFile.jsx
  src/lib.rs
Labels: none

wip
  build.bat
  build.sh
  si-web-static/index.css
  si-web-static/index.html
  src/my_webapi/my_webgl2.rs
  src/si_arcade.rs
Labels: repo

.github/labeler.yml:

repo:
  - '*'

source:
  - 'src'

main:
  - 'src/**/main.*'

cpu:
  - 'src/**/cpu.*'

video:
  - 'src/**/ppu.*'

audio:
  - 'src/**/spu.*'

memory:
  - 'src/**/mmu.*'

controller:
  - 'src/**/inputs.*'

binary_lib:
  - 'src/**/binary_lib.rs'

sdl2:
  - 'src/**/my_sdl2.*'
  - 'src/**/my_sdl2/*.rs'

cargo:
  - 'Cargo.toml'
